# Join tests

In [4]:
stmt = """
create table lgu_brilinta.Yi_join_test_0526_1(
    patient_id string, 
    Dx_category string)
"""
result = spark.sql(stmt)

In [5]:
stmt = """
insert into lgu_brilinta.Yi_join_test_0526_1 VALUES 
('1060410258','STROKE/TIA'),
('1201221043','NSTE ACS'),
('1727742162','STE ACS'),
('30856364','PAD'),
('79402997','STROKE/TIA'),
('322826144','NSTE ACS'),
('1315395864','STE ACS'),
('964121801','PAD'),
('3453671741','STROKE/TIA'),
('589333269','NSTE ACS')
"""
result = spark.sql(stmt)

In [6]:
stmt = """
create table lgu_brilinta.Yi_join_test_0526_2(
    patient_id string, 
    Dx_category string)
"""
result = spark.sql(stmt)

In [7]:
stmt = """
insert into lgu_brilinta.Yi_join_test_0526_2 VALUES 
('322826144','NSTE ACS'),
('1315395864','STE ACS'),
('964121801','NSTE ACS'),
('3453671741','STE ACS'),
('589333269','PAD'),
('4490124244','PAD'),
('3986111631','STROKE/TIA'),
('3511498978','NSTE ACS')
"""
result = spark.sql(stmt)

In [8]:
stmt = """
select *
from  lgu_brilinta.Yi_join_test_0526_1
"""
result = spark.sql(stmt).show()

+----------+-----------+
|patient_id|Dx_category|
+----------+-----------+
|1060410258| STROKE/TIA|
|1201221043|   NSTE ACS|
|1727742162|    STE ACS|
|  30856364|        PAD|
|  79402997| STROKE/TIA|
| 322826144|   NSTE ACS|
|1315395864|    STE ACS|
| 964121801|        PAD|
|3453671741| STROKE/TIA|
| 589333269|   NSTE ACS|
+----------+-----------+

In [9]:
stmt = """
select *
from  lgu_brilinta.Yi_join_test_0526_2
"""
result = spark.sql(stmt).show()

+----------+-----------+
|patient_id|Dx_category|
+----------+-----------+
| 322826144|   NSTE ACS|
|1315395864|    STE ACS|
| 964121801|   NSTE ACS|
|3453671741|    STE ACS|
| 589333269|        PAD|
|4490124244|        PAD|
|3986111631| STROKE/TIA|
|3511498978|   NSTE ACS|
+----------+-----------+

Left Semi join - A Left Semi Join only returns the records from the left-hand dataset. Get records from left dataset that only appear in right dataset.

In [10]:
stmt = """
select a.*
from lgu_brilinta.Yi_join_test_0526_1 as a 
left semi join lgu_brilinta.Yi_join_test_0526_2 as b on a.patient_id=b.patient_id
"""
result = spark.sql(stmt).show()

+----------+-----------+
|patient_id|Dx_category|
+----------+-----------+
| 322826144|   NSTE ACS|
|1315395864|    STE ACS|
| 964121801|        PAD|
|3453671741| STROKE/TIA|
| 589333269|   NSTE ACS|
+----------+-----------+

Left anti join - Select only rows from the left side that match no rows on the right side.

In [12]:
stmt = """
select a.*
from lgu_brilinta.Yi_join_test_0526_1 as a 
left anti join lgu_brilinta.Yi_join_test_0526_2 as b on a.patient_id=b.patient_id
"""
result = spark.sql(stmt).show()

+----------+-----------+
|patient_id|Dx_category|
+----------+-----------+
|1060410258| STROKE/TIA|
|1201221043|   NSTE ACS|
|1727742162|    STE ACS|
|  30856364|        PAD|
|  79402997| STROKE/TIA|
+----------+-----------+